* {
    padding: 0px;
    margin: 0px;
    background-color: crimson;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh;
    height: 100%;
}

.box1 {
    display: flex;
    /*border: 2px solid black;*/
    width: fit-content;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    width: 50%;
    height: fit-content;
    margin-bottom: 2vh;
    font-size: 3vh;
    font-weight: bold;
    font-style: italic;
}

.box2 {
    border: 2px solid black;
    height: fit-content;
    display: flex;
    width: 50%;
    background-color: rgb(233, 245, 72);
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 0px;
    margin-top: 5vh;
}

.testnamelabel {
    outline: none;
    border: none;
    resize: none;
    color: white;
    width: 30%;
    font-size: 3vh;
    height: fit-content;
    font-weight: bold;
    font-style: italic;
    font-family: ui-monospace;
}

.label {
    background-color: rgb(233, 245, 72);
    height: fit-content;
    font-size: large;
    padding: 10px;
    color: blue;
    font-weight: bold;
    margin-right: 2vw;
    text-align: center;
}

.selectbox {
    justify-self: center;
    width: 50%;
    border: 2px solid black;
    border-radius: 2px;
    background-color: aliceblue;
    color: black;
    font-size: large;
    font-weight: 700;
    font-family: ui-monospace;
    height: fit-content;
    margin-top: 10px;
}

.selectbox::after {
    border: none;
}

.selected {
    border: 4px solid black;
    background-color: aliceblue;
}

.submit {
    align-content: center;
    justify-content: center;
    margin-top: 30vh;
}

.submit_btn {
    background-color: #0708f2;
    min-width: 10vw;
    width: fit-content;
    height: fit-content;
    color: #d9fc1a;
    font-size: large;
    font-weight: 700;
    padding: 4px;
    font-style: italic;
}